p{
	font-size : 16pt;
}


p{ color : black;
}

h1 { color : green;

}
h2 { color : blue;
}
h3 {color : red;
}
body {
	background-image: url("https://media.istockphoto.com/id/486074342/photo/sweet-color-lotus-in-soft-and-blur-style.jpg?b=1&s=170667a&w=0&k=20&c=1g88-2yMFqrWQJA8b9o4aQFGGKs-5h5Qp5ZLE7q36OQ=");
}