p{
	font-size : 16pt;
}
.center{
 text-align: center
}
<h1 class="center"> Layde Dei Y Resource Assistance</h1>
p{ color : black;
}

h1 { color : green;

}
h2 { color : blue;
}
h3 {color : red;
}
body {
	background-image: url("https://cdn.pixabay.com/photo/2021/05/28/19/20/stone-6291828_960_720.jpg");
}
